/* montserrat-300 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"); /* Modern Browsers */
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
  color: #0b0614;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
}
.head-stail {
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 100px;
}
.link {
  text-decoration: none;
  color: #0b0614;
}
p {
  margin: 0;
}
.listes {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 17px;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #ff5029;
  border-radius: 12px;
  cursor: pointer;
}
.header {
  height: 62px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-align: center;
}
.logo {
  display: block;
  padding-left: 0;
  padding-right: 24px;
  border-right: 2px solid rgba(11, 6, 20, 0.3);
}
.logo-img {
  width: 144px;
  height: 36px;
  transform: translateY(6px);
}
.header-nav-list {
  margin: auto;
}
.header-nav-item {
  font-size: 16px;
  list-style: 1;
}
.header-nav-item:not(:last-child) {
  margin-right: 40px;
}
.header-btn {
  margin-left: 40px;
}
.header-search {
  display: block;
  margin-left: 24px;
  padding-bottom: 6px;
  text-decoration: none;
}
.header-search svg {
  width: 24px;
  height: 24px;
  transform: translateY(6px);
}
.header-search span {
  font-size: 16px;
  color: rgba(11, 6, 20, 0.3);
}

/* section-hero */

.section-hero-content {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  background-image: url("/img/pexels-taryn-elliott-\ 1.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
  border-radius: 24px;
}
.section-hero-heading {
  padding: 138px 50px 30% 50px;
  margin: 0;
  text-align: center;

  font-weight: 600;
  font-size: 110px;
  line-height: 120px;
}
.section-hero-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 1;

  background-image: url("/img/pexels-taryn-elliott-\ 2.png");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
  border-radius: 24px;
}
.hero-content-filtre {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transform: translateY(-50px);
  max-width: 1240px;
  padding: 24px;

  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
  border-radius: 24px;
}
.section-hero-list {
  flex: 1 1 auto;
}
.btn-hero {
  margin-left: 46px;
}
.section-hero-item {
  padding-right: 24px;
  width: 25%;

  font-size: 20px;
  line-height: 30px;
}
.section-hero-item:not(:last-child) {
  margin-right: 24px;
  border-right: 1px solid rgba(11, 6, 20, 0.3);
}
.section-hero-select {
  display: block;
  border: none;
}
.section-hero-text {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
}

/* GUIDES */

.section-guides {
  padding-top: 190px;
  /* padding-bottom: 40px; */
}
.section-guides-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-right: 24px; */
}
.section-guides-heading {
  margin-bottom: 0;
}
.section-guides-name {
  display: block;
}
.section-guides-list {
  padding-top: 100px;
}
.section-guides-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;

  padding: 40px 48px;
  background: #ffffff;
  box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15),
    0px 30px 60px rgba(198, 191, 191, 0.15);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}
.section-guides-item:not(:last-child) {
  margin-right: 30px;
}
.section-guides-avatar {
  margin-bottom: 30px;
}
.section-guides-item svg {
  margin: 12px 0;
}
.section-guides-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.section-guides-review {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: rgba(11, 6, 20, 0.6);
}
/* HOW WORK */

.section-howWork {
  padding-top: 190px;
}
.section-howWork-heading {
  text-align: center;
}
.section-howWork-list {
  text-align: center;
}
.section-howWork-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  /* flex-basis: content; */

  padding: 44px 40px;
  background: #fef4f5;
  border-radius: 20px;
}
.section-howWork-item:not(:last-child) {
  margin-right: 30px;
  /* padding: 44px 44px; */
}
.section-howWork-icon {
  display: block;
  margin-bottom: 46px;

  height: 310px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: transparent;
}
.section-howWork-icon-select {
  background-image: url(/img/HowWork-Select.jpg);
}
.section-howWork-icon-contact {
  background-image: url(/img/HowWork-Contact.jpg);
}
.section-howWork-icon-create {
  background-image: url(/img/HowWork-Create.jpg);
}
.section-howWork-text {
  width: 80%;
  margin: 0 auto;

  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

/* LEARN */

.section-learn {
  padding-top: 190px;
  padding-bottom: 190px;
}
.section-learn-heading {
  text-align: center;
}
.section-learn-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.section-learn-big-box {
  flex-basis: 50%;
  margin-right: 30px;

  padding: 30px 30px 35px 30px;
  /* height: 100%; */

  background: #ffffff;
  box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15),
    0px 30px 60px rgba(198, 191, 191, 0.15);
  border-radius: 20px;
}
.section-learn-few-box {
  flex-basis: 50%;

  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.section-learn-item {
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 30px;

  background: #ffffff;
  box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15),
    0px 30px 60px rgba(198, 191, 191, 0.15);
  border-radius: 20px;
}
.section-learn-item:not(:last-child) {
  margin-bottom: 30px;
}
.section-learn-mark {
  display: inline-block;
  padding: 8px 30px 8px 20px;
  margin-bottom: 24px;

  background: #fef4f5;
  border-radius: 12px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #ff5029;
}
.section-learn-caption {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}
.section-learn-caption-big {
  width: 80%;
}
.section-learn-big-img {
  display: block;
  border-radius: 16px;
  margin-bottom: 30px;
}
.section-learn-icon {
  width: 42px;
  height: 42px;
  transform: translateY(7px);
}
.section-learn-few-img {
  display: block;
  margin-right: 30px;
  border-radius: 20px;
}

/* FOOTER */

.footer {
  padding-top: 90px;
  padding-bottom: 40px;
  background: #0b0614;
  color: rgba(255, 255, 255, 0.8);
}
.footer-top {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */

  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  margin-top: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-top-heading {
  font-size: 20px;
  line-height: 1;
}
.footer-top-left {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 10;
  max-height: 210px;
  margin-right: 20px;
}
.footer-top-right {
  flex-basis: 600px;
  flex-grow: 10;
}
.footer-top-list {
  justify-content: flex-end;
}
/* .footer-top-item {
  flex-basis: 33.3%;
} */
.footer-top-menu-list {
  /* display: block; */
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-top-menu-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-top-item:not(:last-child) {
  margin-right: 40px;
}
.footer-top-heading {
  margin-bottom: 0;
}
.footer-top-menu-list {
  margin-top: 30px;
}
.footer-top-menu-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-copyrights-logo {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ff5029;
}
.footer-down-right-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-down {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 30px;
}
.footer-down-right-item:not(:last-child) {
  margin-right: 30px;
}
.footer-icon {
  display: inline-block;
  color: #ff5029;
  height: 24px;
  width: 24px;

  margin-right: 10px;

  transform: translateY(5px);

  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.footer-icon-community {
  display: inline-block;
  color: #ff5029;
  height: 40px;
  width: 40px;

  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.footer-icon-mail {
  background-image: url("/img/footer-mail.jpg");
}
.footer-icon-map {
  background-image: url("/img/footer-map_point.jpg");
}
.footer-top-menu-item-community {
  margin-top: 28px;
}
.footer-icon-facb {
  background-image: url("/img/footer-facb.jpg");
  margin-right: 8px;
}
.footer-icon-twit {
  background-image: url("/img/footer-twit.jpg");
  margin-right: 8px;
}
.footer-icon-inst {
  background-image: url("/img/footer-inst.jpg");
  margin-right: 8px;
}
.footer-icon-linkid {
  background-image: url("/img/footer-linkd.jpg");
}
